<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>gshock</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexCatController</display-name>
    <servlet-name>AdminIndexCatController</servlet-name>
    <servlet-class>controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatController</servlet-name>
    <url-pattern>/admin/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddCatController</display-name>
    <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/admin/cat/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditCatController</display-name>
    <servlet-name>AdminEditCatController</servlet-name>
    <servlet-class>controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatController</servlet-name>
    <url-pattern>/admin/cat/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDellCatController</display-name>
    <servlet-name>AdminDellCatController</servlet-name>
    <servlet-class>controller.AdminDellCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDellCatController</servlet-name>
    <url-pattern>/admin/cat/dell</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchCatController</display-name>
    <servlet-name>AdminSearchCatController</servlet-name>
    <servlet-class>controller.AdminSearchCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchCatController</servlet-name>
    <url-pattern>/admin/cat/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexContactController</display-name>
    <servlet-name>AdminIndexContactController</servlet-name>
    <servlet-class>controller.AdminIndexContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexContactController</servlet-name>
    <url-pattern>/admin/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelContactController</display-name>
    <servlet-name>AdminDelContactController</servlet-name>
    <servlet-class>controller.AdminDelContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelContactController</servlet-name>
    <url-pattern>/admin/contact/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddContactController</display-name>
    <servlet-name>AdminAddContactController</servlet-name>
    <servlet-class>controller.AdminAddContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddContactController</servlet-name>
    <url-pattern>/admin/contact/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexReviewController</display-name>
    <servlet-name>AdminIndexReviewController</servlet-name>
    <servlet-class>controller.AdminIndexReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexReviewController</servlet-name>
    <url-pattern>/admin/review</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelReviewController</display-name>
    <servlet-name>AdminDelReviewController</servlet-name>
    <servlet-class>controller.AdminDelReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelReviewController</servlet-name>
    <url-pattern>/admin/review/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddReviewController</display-name>
    <servlet-name>AdminAddReviewController</servlet-name>
    <servlet-class>controller.AdminAddReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddReviewController</servlet-name>
    <url-pattern>/admin/review/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexWatchController</display-name>
    <servlet-name>AdminIndexWatchController</servlet-name>
    <servlet-class>controller.AdminIndexWatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexWatchController</servlet-name>
    <url-pattern>/admin/watch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddWatchController</display-name>
    <servlet-name>AdminAddWatchController</servlet-name>
    <servlet-class>controller.AdminAddWatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddWatchController</servlet-name>
    <url-pattern>/admin/watch/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddUserController</display-name>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexUserController</display-name>
    <servlet-name>AdminIndexUserController</servlet-name>
    <servlet-class>controller.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexUserController</servlet-name>
    <url-pattern>/admin/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditUserController</display-name>
    <servlet-name>AdminEditUserController</servlet-name>
    <servlet-class>controller.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserController</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelUserController</display-name>
    <servlet-name>AdminDelUserController</servlet-name>
    <servlet-class>controller.AdminDelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelUserController</servlet-name>
    <url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditWatchController</display-name>
    <servlet-name>AdminEditWatchController</servlet-name>
    <servlet-class>controller.AdminEditWatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditWatchController</servlet-name>
    <url-pattern>/admin/watch/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelWatchController</display-name>
    <servlet-name>AdminDelWatchController</servlet-name>
    <servlet-class>controller.AdminDelWatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelWatchController</servlet-name>
    <url-pattern>/admin/watch/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddPictureController</display-name>
    <servlet-name>AdminAddPictureController</servlet-name>
    <servlet-class>controller.AdminAddPictureController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddPictureController</servlet-name>
    <url-pattern>/admin/picture/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexPictureController</display-name>
    <servlet-name>AdminIndexPictureController</servlet-name>
    <servlet-class>controller.AdminIndexPictureController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexPictureController</servlet-name>
    <url-pattern>/admin/picture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditPictureController</display-name>
    <servlet-name>AdminEditPictureController</servlet-name>
    <servlet-class>controller.AdminEditPictureController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditPictureController</servlet-name>
    <url-pattern>/admin/picture/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexPaymentController</display-name>
    <servlet-name>AdminIndexPaymentController</servlet-name>
    <servlet-class>controller.AdminIndexPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexPaymentController</servlet-name>
    <url-pattern>/admin/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddPaymentController</display-name>
    <servlet-name>AdminAddPaymentController</servlet-name>
    <servlet-class>controller.AdminAddPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddPaymentController</servlet-name>
    <url-pattern>/admin/payment/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditPaymentController</display-name>
    <servlet-name>AdminEditPaymentController</servlet-name>
    <servlet-class>controller.AdminEditPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditPaymentController</servlet-name>
    <url-pattern>/admin/payment/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelPaymentController</display-name>
    <servlet-name>AdminDelPaymentController</servlet-name>
    <servlet-class>controller.AdminDelPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelPaymentController</servlet-name>
    <url-pattern>/admin/payment/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexOderitemController</display-name>
    <servlet-name>AdminIndexOderitemController</servlet-name>
    <servlet-class>controller.AdminIndexOderitemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexOderitemController</servlet-name>
    <url-pattern>/admin/oderitem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StorePublicController</display-name>
    <servlet-name>StorePublicController</servlet-name>
    <servlet-class>controller.StorePublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StorePublicController</servlet-name>
    <url-pattern>/store</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicProductController</display-name>
    <servlet-name>PublicProductController</servlet-name>
    <servlet-class>controller.PublicProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicProductController</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicSearchProductController</display-name>
    <servlet-name>PublicSearchProductController</servlet-name>
    <servlet-class>controller.PublicSearchProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSearchProductController</servlet-name>
    <url-pattern>/public/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicAddOderitemController</display-name>
    <servlet-name>PublicAddOderitemController</servlet-name>
    <servlet-class>controller.PublicAddOderitemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicAddOderitemController</servlet-name>
    <url-pattern>/public/oderitem/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelOderitemController</display-name>
    <servlet-name>AdminDelOderitemController</servlet-name>
    <servlet-class>controller.AdminDelOderitemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelOderitemController</servlet-name>
    <url-pattern>/admin/oderitem/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicPayContoller</display-name>
    <servlet-name>PublicPayContoller</servlet-name>
    <servlet-class>controller.PublicPayContoller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicPayContoller</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicDellOderitemController</display-name>
    <servlet-name>PublicDellOderitemController</servlet-name>
    <servlet-class>controller.PublicDellOderitemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDellOderitemController</servlet-name>
    <url-pattern>/public/oderitem/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicAddOderController</display-name>
    <servlet-name>PublicAddOderController</servlet-name>
    <servlet-class>controller.PublicAddOderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicAddOderController</servlet-name>
    <url-pattern>/public/oder/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicDetailController</display-name>
    <servlet-name>PublicDetailController</servlet-name>
    <servlet-class>controller.PublicDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDetailController</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicIndexlController</display-name>
    <servlet-name>PublicIndexlController</servlet-name>
    <servlet-class>controller.PublicIndexlController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexlController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicNewslController</display-name>
    <servlet-name>PublicNewslController</servlet-name>
    <servlet-class>controller.PublicNewslController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicNewslController</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicContactController</display-name>
    <servlet-name>PublicContactController</servlet-name>
    <servlet-class>controller.PublicContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicContactController</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexLoginController</display-name>
    <servlet-name>AdminIndexLoginController</servlet-name>
    <servlet-class>controller.AdminIndexLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexLoginController</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexController</display-name>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutController</display-name>
    <servlet-name>AdminLogoutController</servlet-name>
    <servlet-class>controller.AdminLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutController</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexOderController</display-name>
    <servlet-name>AdminIndexOderController</servlet-name>
    <servlet-class>controller.AdminIndexOderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexOderController</servlet-name>
    <url-pattern>/admin/oder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicLogoutController</display-name>
    <servlet-name>PublicLogoutController</servlet-name>
    <servlet-class>controller.PublicLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicLogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditOderitemController</display-name>
    <servlet-name>AdminEditOderitemController</servlet-name>
    <servlet-class>controller.AdminEditOderitemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditOderitemController</servlet-name>
    <url-pattern>/admin/oderitem/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicIndexLoginController</display-name>
    <servlet-name>PublicIndexLoginController</servlet-name>
    <servlet-class>controller.PublicIndexLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexLoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicRemoveOderitemController</display-name>
    <servlet-name>PublicRemoveOderitemController</servlet-name>
    <servlet-class>controller.PublicRemoveOderitemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicRemoveOderitemController</servlet-name>
    <url-pattern>/public/oderitem/remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetListController</display-name>
    <servlet-name>GetListController</servlet-name>
    <servlet-class>controller.GetListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetListController</servlet-name>
    <url-pattern>/public/getList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutputExcelController</display-name>
    <servlet-name>OutputExcelController</servlet-name>
    <servlet-class>controller.OutputExcelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutputExcelController</servlet-name>
    <url-pattern>/admin/getexcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicDelllCommentController</display-name>
    <servlet-name>PublicDelllCommentController</servlet-name>
    <servlet-class>controller.PublicDelllCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDelllCommentController</servlet-name>
    <url-pattern>/comment/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOptionController</display-name>
    <servlet-name>GetOptionController</servlet-name>
    <servlet-class>controller.GetOptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOptionController</servlet-name>
    <url-pattern>/public/getoption</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>PublicSearchController</display-name>
    <servlet-name>PublicSearchController</servlet-name>
    <servlet-class>controller.PublicSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSearchController</servlet-name>
    <url-pattern>/public/searchall</url-pattern>
  </servlet-mapping>
</web-app>